@import 'bootstrap';

html, body {
  margin: 20px;
}

#fork_me {
	position: absolute;
	top: -15px;
	right: -15px;
	border: 0;
	z-index: 2000;
	clip: rect(15px,134px,125px,21px);
}
.dragger, .subpanel, #content_panel{
	position: absolute;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.dragger{
	width: 8px;
	cursor: col-resize;
	border: 0 1px 0 0;
	background: #CCC;
}
.scrollable{
	overflow-y: scroll;
}
#content_panel{
	top: 51;
	overflow: hidden;
	width: 100%
}
#preview{
	position: absolute;
}