<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to FireRef</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <div class="panel panel-default">
		        <div class="panel-body">
		            <p>
		                FireRef is a browser based reference management systems built on <a href="http://emberjs.com/" targer="_blank">Ember.js</a> with Dropbox for storage.</p>
		        </div>
		    </div>
		    <div class="panel panel-default">
		        <div class="panel-heading">
		            <h2 class="panel-title">Using FireRef</h2>
		        </div>
		        <div class="panel-body">
		        	<h3>First time using</h3>
		            <p>If you don't already have a Dropbox account <a href="">Register with Dropbox</a> then sign in above.</p>

		            <h3>Uploading files</h3>
		            <p>FireRef creates a folder in your dropbox for your references under <b>/Apps/FireRef</b>. If you have a new pdf or word document just drop it in there, we'll find it.</p>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
	</div>
</div>

