<table class="table">
	<thead>
		<tr>
			<th>Author(s)</th>
			<th>Year</th>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
	{{#each}}
		<tr>
			<td>{{author}}</td>
			<td>{{year}}</td>
			<td>{{title}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>
